/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.ini
php_errors.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.phpunit.cache
.vscode/
.idea/
.DS_Store
auth.json
npm-debug.log
yarn-error.log
.fleet/
.helix/
.zed/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/surat/*
